nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px 10px;
  background-color: #bab2b2;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 10px 20px;
  background-color: coral;
  border: 1px solid #000;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;

  transition: background-color 0.4s ease-in-out;
}

nav ul li a:hover {
  background-color: #000;
}

nav ul li a.active {
  background-color: #000;
}
